/*styles for the header of the use food section*/
.use-food-header {
  color: var(--primary);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 50px; /*pushing the content down*/
}

/*styles for the container of the use food cards */
.use-food-container {
  background-color: var(--accent-color);
  border: 1px solid var(--secondary);
  border-radius: 1.5rem;
}

/*styles for the use food card*/
.use-food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-color);
  border-left: 4px solid var(--danger);
  border-radius: 1rem;
  margin: 1rem auto; /*adding margin at the top and bottom and then auto for the sides*/
  width: 92%; /*setting the cards to this width*/
  padding: 1.5rem 0; /*adding padding at the top and bottom of the card*/
}

/*styles for the header of the card*/
.use-food-detail h1 {
  max-width: 90%; /*setting the max-width for the text*/
  color: var(--primary);
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 1.5rem;
  white-space: nowrap; /* Prevents text from wrapping to a new line */
  overflow: hidden; /* Hides the text that extends past the box */
  text-overflow: ellipsis; /* Adds the "..." at the end of the visible text */
}
/*styles for the expiring date of the card*/
.use-food-detail {
  color: var(--danger);
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 0.3rem; /*pushing the content down*/
  max-width: 90%; /*setting the container to be no longer than 90%*/
}

/*styles for the use food details container*/
.use-food {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 10px;
  max-width: 90%; /*setting the container to be no longer than 90%*/
}

.use-food img {
  background-color: var(--accent-color);
  height: 7vh; /*setting the height of the img*/
  padding: 0.5rem; /*setting the padding for the background of the img*/
  border-radius: 1rem;
  border: 1px solid var(--secondary);
}

.btn {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.25rem;
  background-color: var(--primary);
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.5rem 6rem;
  border-radius: 0.6rem;
  margin: auto;
}

@media (min-width: 768px) {
  /*styles for the use food card*/
  .use-food-card {
    display: block;
  }

  /*styles for the use food details container*/
  .use-food {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10px;
    width: 100%; /*setting the container to be no longer than 90%*/
  }

  /*styles for the header of the card*/
  .use-food-detail h1 {
    width: 100%; /*setting the max-width for the text*/
  }
  /*styles for the expiring date of the card*/
  .use-food-detail {
    width: 100%; /*setting the container to be no longer than 90%*/
  }

  .btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 16.5rem;
    margin: 0.5rem auto;
  }
}
