@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --warning: #d97706;
  --danger: #e11d48;
  --safe: #047857;
  --primary: #1c1917;
  --secondary: #ada7a3;
  --accent-color: #fff;
  --bg-color: #faf8f5;
}

body {
  font-family: "Fraunces", serif;
  background-color: var(--bg-color);
  color: var(--primary);
}

.container {
  width: 87%;
  margin: auto;
}

.btn {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.25rem;
  background-color: var(--primary);
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.6rem;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
