/*styles for the navbar container*/
.navbar-container {
  border-bottom: 1px solid var(--secondary); /*adding a line at the bottom of the navbar*/
  position: fixed; /*placing the navbar to fixed at the top*/
  right: 0; /*placing the content center*/
  left: 0; /*placing the content center*/
  padding: 1rem 0rem 1rem 0rem;
  background-color: var(--bg-color);
}

/* navbar styles for the items */
.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo icon styles */
.logoIcon {
  background-color: var(--primary);
  height: 7vh;
  padding: 0.5rem 0.2rem; /* setting the background of icon*/
}

/* styles for logo contianer */
.logo-contianer {
  display: flex;
  align-items: center;
  gap: 0.5rem; /*adding space between the icon and logo name*/
}

/* styles for the add item button */
.navbar-btn {
  color: var(--primary);
  font-size: 0.88rem;
  line-height: 1.25rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
}

/*styles for the pop up modal*/
.modal {
  position: fixed; /* making the modal fixed to the screen*/
  top: 7rem; /*setting the distance from the top of the screen*/
  left: 1rem; /*pushing the modal to the center*/
  width: 90%; /*setting the width of the modal*/
  background-color: var(--bg-color);
  padding: 2rem 0;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2); /*adding a shadow to the modal*/
  border: 1px solid var(--secondary);
}

/*styles for the inner container*/
.modal-container {
  width: 92%; /*setting the width of the form*/
  margin: auto; /* setting the form fields to placed in the center */
}

/*atyles for the modal info container*/
.modal-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/*styles for the modal subheader*/
.modal-sub-header {
  letter-spacing: 0.12em;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--secondary);
}

/*styles for the modal header*/
.modal-header {
  color: var(--primary);
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.4rem;
}

/* styles for the modal button */
.modal-close-btn {
  font-size: 2.2rem;
  cursor: pointer;
  transition: transform 0.2s ease; /* Adds a smooth animation */
  transform: rotate(45deg); /* Rotates the + into an X */
  border: none;
  background-color: var(--bg-color);
}

@media (min-width: 768px) {
  /* logo icon styles */
  .logoIcon {
    height: 9vh; /*the size for the icon*/
  }

  /* styles for logo contianer */
  .logo-contianer p {
    font-size: 1.1rem;
  }

  /* styles for the add button */
  .navbar-btn {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  /*styles for the pop up modal*/
  .modal {
    top: 7.5rem; /*setting the distance from the top of the screen*/
    left: 50%; /* center the modal horizontally */
    transform: translateX(-50%); /* offset half its width for true centering */
    width: 55%; /*setting the width of the modal*/
  }
}

@media (min-width: 1024px) {
  /*styles for the pop up modal*/
  .modal {
    width: 41%; /*setting the width of the modal*/
  }
}
